:root{
  --purple-Avatar:#e86af1;
  --hover_menu_gray:#afafb16e;
  --dangerRed:red; 
  --primaryWhite:white;
}
*{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.ReactCollapse--collapse {
  transition: height 500ms;
}
.App{
  display: flex;
}
.App::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-repeat: none;
  left: 0;
  top: 0;
  z-index: -1;
  background: url(./Assets/image/Todo-bg.jpg);
  background-position: center;
  background-size: cover;
  filter: opacity(0.9);
}
.Main{
  width: 100%;
}

.sidebar {
  position: relative;
  width: 250px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(4px) brightness(0.7);
  height: 100vh;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.profile {
  display: flex;
  align-items: center;
  padding: 15px;
}

.avatar {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: var(--purple-Avatar); /* Placeholder for avatar */
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-weight: bold;
}

/* .search {
  padding: 15px;
  border-bottom: 1px solid #ddd;
} */

.search input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
}
a.active{
  background-color: #c4c2c2aa;
}

.menu {
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 1px solid #ddd;
}
.menu:hover{
  background-color: var(--hover_menu_gray);
}

.menu-heading {
  font-weight: bold;
  color: var(--primaryWhite);
}
.menu-heading i{
  padding-right: 5px;
}

.submenu {
  display: none;
  padding-left: 15px;
  margin-top: 5px;
}

.menu.active .submenu {
  display: block;
}

.submenu li {
  margin-top: 5px;
}

.bottom-button {
  margin-top: auto;
  background-color: #007bff;
  color: var(--primaryWhite);
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 90%;
  margin: 10px auto;
}
.toggle-sidebar{
  display: none;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
  .sidebar {
      width: 0;
      overflow: hidden;
  }
  .sidebar.active{
    width: 100%;
    overflow: auto;
  } 
  .toggle-sidebar {
    display: block;
    width: 34px;
    height: 24px;
    position: fixed;
    z-index: 98;
    top: 0;
    left: 0px;
    background: transparent;
    border: 0;
}
}


/* Sidebar styling */

/* ... existing styles ... */

/* Submenu styles */
.submenu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu.active .submenu {
  display: block;
}

.submenu li {
  padding-left: 15px;
  border-top: 1px solid lightgray;
}

/* Create Task button styles */
.create-task {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.bottom-button {
  border: 1px solid lightgray;
  background-color: var(--primaryWhite);
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.bottom-button i {
  margin-right: 5px;
}





.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--primaryWhite);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.message {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color: transparent;
  border: 2px solid #cacaca;
  border-radius: 0px;
  box-sizing: border-box;
  color: var(--primaryWhite);
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 2px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #cacaca;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  text-align: left;
  transition: all 0.3s ease-in-out;
  text-transform: lowercase;
  text-decoration: none;
  color: #818181;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: white;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color: var(--primaryWhite);
  background: #cacaca;
}

.fancy:hover::before {
  width: 1.5rem;
  background: var(--primaryWhite);
}

.fancy:hover .text {
  color: var(--primaryWhite);
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}
.Accordion{
  /* border: 2px solid black; */
  width: 90%;
  margin: auto;
  margin: 10px auto;
  background-color: var(--primaryWhite);
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
}
.Task_Accordion{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 23px;
  align-items: center;
}
.icons_accordion{
  font-size: 25px;
}
.del_icon:hover{
  color: var(--dangerRed);
}
.SearchBar{
  /* border: 2px solid var(--purple-Avatar); */
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SearchBar input{
  width: 70%;
  padding: 4px;
  border-radius: 3px;
  outline: none;
  backdrop-filter: blur(3px) brightness(0.7);
  border: none;
  background-color: var(--primaryWhite);
}